<!-- register.component.html -->
<div class="container">
    <div class="card mt-5">
      <div class="card-header">
        <h2 class="text-center">Inscription</h2>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <div class="form-group">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" [(ngModel)]="user.username" class="form-control" required>
          </div>
  
          <div class="form-group">
            <label for="email">Adresse e-mail :</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control" required>
          </div>
  
          <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" [(ngModel)]="user.password" class="form-control" required>
          </div>
  
          <div class="form-group">
            <label for="confirmPassword">Confirmez le mot de passe :</label>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmPassword" class="form-control" required>
          </div>
  
          <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
        </form>
      </div>
    </div>
  </div>
  