<!-- Bannière d'Accueil -->
<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenue sur LearningApp!</h1>
    <p class="lead">Votre compagnon d'apprentissage avec la répétition espacée.</p>
    <hr class="my-4">
    <p>Apprenez plus efficacement, retenez plus longtemps.</p>
    <!-- Assurez-vous que le routerLink est correct -->
    <a class="btn btn-primary btn-lg" routerLink="/upload" role="button">Commencer maintenant</a>
</div>

  
  <!-- À propos de l'Application -->
  <section class="container mt-5">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <h2>Comment ça fonctionne?</h2>
        <p>Créez des cartes flash avec vos informations d'étude, et laissez LearningApp organiser vos sessions de révision pour optimiser la mémorisation.</p>
      </div>
      <div class="col-lg-6 mb-4">
        <h2>Pourquoi LearningApp?</h2>
        <p>Basé sur des preuves scientifiques, notre algorithme de répétition espacée vous aide à étudier plus efficacement.</p>
      </div>
    </div>
  </section>
  
  <!-- Témoignages -->
  <section class="container-fluid bg-light py-5">
    <div class="container">
      <h2 class="text-center mb-4">Ce que nos utilisateurs disent</h2>
      <div class="row">
        <div class="col-md-4 text-center">
          <blockquote class="blockquote">
            <p class="mb-0">"Grâce à LearningApp, j'ai réussi mes examens avec facilité!"</p>
            <footer class="blockquote-footer">Charlie, <cite title="Source Title">Étudiant en Médecine</cite></footer>
          </blockquote>
        </div>
        <div class="col-md-4 text-center">
          <blockquote class="blockquote">
            <p class="mb-0">"Un outil incroyable pour apprendre de nouvelles langues."</p>
            <footer class="blockquote-footer">Alex, <cite title="Source Title">Polyglotte</cite></footer>
          </blockquote>
        </div>
        <div class="col-md-4 text-center">
          <blockquote class="blockquote">
            <p class="mb-0">"LearningApp a changé ma façon d'étudier!"</p>
            <footer class="blockquote-footer">Jess, <cite title="Source Title">Étudiant en Droit</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Footer (Peut être déplacé dans app.component.html pour être utilisé dans toute l'application) -->
  <footer class="footer bg-dark text-white mt-5 py-3 text-center">
    <div class="container">
      <span>&copy; 2023 LearningApp. Tous droits réservés.</span>
    </div>
  </footer>
  