.container {
    margin-top: 50px;
  }
  
  .card {
    border: none;
  }
  
  .card-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .btn-primary {
    background-color: #3498db;
    border-color: #3498db;
  }
  
  .btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
  }
  