.navbar {
    background-color: #007bff; // Couleur de fond de la navbar
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    color: #fff; // Couleur du texte de la navbar
    font-size: 1.5rem; // Taille de la police
    font-weight: bold;
    img {
      margin-right: 10px; // Marge à droite de l'image
    }
  }
  
  .navbar-toggler-icon {
    color: #fff; // Couleur de l'icône du bouton de bascule
  }
  
  .navbar-nav {
    .nav-item {
      a.nav-link {
        color: #fff; // Couleur du texte des liens
        &:hover {
          color: #ccc; // Couleur du texte au survol
        }
      }
  
      &.active {
        a.nav-link {
          color: #fff; // Couleur du texte du lien actif
        }
      }
  
      .btn-outline-light {
        border-color: #fff; // Couleur de la bordure du bouton
        color: #fff; // Couleur du texte du bouton
        &:hover {
          background-color: #fff; // Couleur de fond du bouton au survol
          color: #007bff; // Couleur du texte du bouton au survol
        }
      }
    }
  }
  .nav-item .dropdown-toggle {
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .nav-item.show .dropdown-menu {
    display: block;
  }
  
  